<div class=" ui center aligned middle aligned segment four statistics">
    <div class="statistic">
        <div class="value">
            <i class="user icon"></i><br>
        </div>
        <div class="label">
            {{title}}
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            <i class="{{iconColour}} tachometer alternate icon"></i><br>
        </div>
        <div class="label">
            Ideal Weight Indicator
        </div>
    </div>
    <div class="statistic" >
        <div class="value"  >
            <i class="heartbeat icon"></i>{{bmi}}
        </div>
        <div class="label">
            BMI
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            <i class="user md icon"></i>
        </div>
        <div class="label">
            {{bmiCategory}}
        </div>
    </div>
</div>